# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.gif
.tags
*.iml
out
gen
learn/python3/day02/request/dowmload/
learn/python3/day07/doutu_spider.py
learn/python3/day07/doutu_threading.py
learn/python3/day07/img_download/3D柴犬.gif
learn/python3/day07/img_download/上吊了.gif
learn/python3/day07/img_download/不能哭.gif
learn/python3/day07/img_download/今天19号，群里没有人带我玩，这个仇先记下来。.gif
learn/python3/day07/img_download/今天，群里没有人带我玩，这个仇先记下来。.gif
learn/python3/day07/img_download/你他妈吵死了！.gif
learn/python3/day07/img_download/你又胖了.gif
learn/python3/day07/img_download/你奶罩忘戴了.gif
learn/python3/day07/img_download/你妈死了，你妈死了.gif
learn/python3/day07/img_download/你淫荡.gif
learn/python3/day07/img_download/你的老可爱上线了.gif
learn/python3/day07/img_download/你竟然打我.gif
learn/python3/day07/img_download/你说啥.gif
learn/python3/day07/img_download/你还没有女朋友.gif
learn/python3/day07/img_download/你这么美我都流鼻血了.gif
learn/python3/day07/img_download/你这逼装的太厉害了，老子来为你送终.gif
learn/python3/day07/img_download/别担心，这是校园绿色网吧.gif
learn/python3/day07/img_download/劳资一来，渣渣统统狗带.gif
learn/python3/day07/img_download/单身好单身好，单身想跟谁好跟谁好.gif
learn/python3/day07/img_download/发发出努力的声音.gif
learn/python3/day07/img_download/吃惊！.gif
learn/python3/day07/img_download/吃薯片.gif
learn/python3/day07/img_download/听歌.gif
learn/python3/day07/img_download/呵！平胸女人.gif
learn/python3/day07/img_download/哟，又在写bug呢.gif
learn/python3/day07/img_download/哭死了哦.gif
learn/python3/day07/img_download/嗨.gif
learn/python3/day07/img_download/嘻嘻嘻嘻.gif
learn/python3/day07/img_download/在吗？小傻瓜.gif
learn/python3/day07/img_download/在清朝你这样会被抓去当太监的.gif
learn/python3/day07/img_download/好想谈一场你爸爸给我千万叫我离开你的恋爱.gif
learn/python3/day07/img_download/它会让你知道什么叫空穴来风.gif
learn/python3/day07/img_download/小七.gif
learn/python3/day07/img_download/小可爱眨眼.gif
learn/python3/day07/img_download/小猫尾巴招手.gif
learn/python3/day07/img_download/小猫滑水.gif
learn/python3/day07/img_download/就不告诉你.gif
learn/python3/day07/img_download/开心.gif
learn/python3/day07/img_download/我不管我最帅，我是你们的小可爱.gif
learn/python3/day07/img_download/我在呼唤我孙子！.gif
learn/python3/day07/img_download/我没别的意思就想指一下楼上这傻屌！.gif
learn/python3/day07/img_download/我现在没时间听什么狗屁浪漫爱情故事，我只想吹空调.gif
learn/python3/day07/img_download/我的一切.gif
learn/python3/day07/img_download/我的故事都是.gif
learn/python3/day07/img_download/我能怎么办，我也好冷啊.gif
learn/python3/day07/img_download/我草.gif
learn/python3/day07/img_download/抱抱啦.gif
learn/python3/day07/img_download/抹脸.gif
learn/python3/day07/img_download/挺漂亮一姑娘，可惜是个飞机场.gif
learn/python3/day07/img_download/擦汗.gif
learn/python3/day07/img_download/欲戴皇冠必承其重.gif
learn/python3/day07/img_download/死了.gif
learn/python3/day07/img_download/滑稽.gif
learn/python3/day07/img_download/狗管理，劳资最不怕的就是权限.gif
learn/python3/day07/img_download/疯狂摇头.gif
learn/python3/day07/img_download/看书.gif
learn/python3/day07/img_download/看你能忽悠多久.gif
learn/python3/day07/img_download/看看胖胖的自己.gif
learn/python3/day07/img_download/社会社会（熊猫）.gif
learn/python3/day07/img_download/笑死老娘了.gif
learn/python3/day07/img_download/绝交.gif
learn/python3/day07/img_download/绵羊.gif
learn/python3/day07/img_download/要不要 battle一下.gif
learn/python3/day07/img_download/貂蝉.gif
learn/python3/day07/img_download/走吧..别丢人了.gif
learn/python3/day07/img_download/过圣诞节.gif
learn/python3/day07/img_download/阿！我死了.gif
learn/python3/day07/img_download/？？基暗示？？.gif
learn/python3/day07/tags
learn/python3/day07/text.py
learn/python3/day07/types_py.taghl
/learn/python3/day07/img_download/3D柴犬.gif
